body {
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
}
.container {
  background-color: hsl(0, 0%, 100%);
  width: 200px;
  min-height: 200px;
  text-align: center;
  border: 0px solid;
  border-radius: 15px;
  padding: 50px;
  margin: auto;
  margin-top: 10%;
  padding: 10px;
}
.container img {
  max-width: 100%;
  border-radius: 10px;
}

#paragraph1{
   font-family: 'Outfit';
  font-weight: 700;

}
#paragraph2{
  font-family: 'Outfit';
  font-size: small;
  font-weight: 500;
   

}
